<article>
    <h2>
        Name: <%= cat.name %>
    </h2>
    <p>
        Age: <%= cat.age %>
        Sex: <%= cat.sex %>
        Color: <%= cat.color %>
    </p>
    <p>
        Description:
        <%= cat.description %>
    </p>
</article>